.header{
  padding: 30px 80px 40px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffff;
  background-image: url(../images/background_header.svg);
  position: relative;
  height: 800px;
  flex-direction: column;
  z-index: 1;
  }

  .header__title {
    margin: 183px 0 0;
    max-width: 729px;
    font-family: "Inter, Arial, sans-serif";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
  }

  .header__description {
    margin: 28px 0 0;
    max-width: 683px;
    font-family: "Noto Serif, Times New Roman, Georgia";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  .header__image {
    position: absolute;
    width: 646px;
    height: 568px;
    top: 124px;
    right: 5px;
    z-index: -1;
  }

  .header__footer {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: "Inter, Arial, sans-serif";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6f6f6f;
  }

  .header__paragraph {
    margin: 0;
    font-family: "Inter, Arial, sans-serif";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6f6f6f;
  }

  .header__span-accent {
    display: block;
    font-weight: normal;
    font-family: "Noto Serif, Times New Roman, Georgia";
    font-style: italic;
    color: #3f96f3;
  }